.row22 {
    width: 96%;
    margin: auto;
    margin-bottom: 40px;

}
.row22 table {
    border:1px solid rgb(214, 214, 214);
}
.row22 table tr {
    border:1px solid rgb(214, 214, 214);
}

.row22 table tr th {
    border:1px solid rgb(214, 214, 214);
}
.row22 table tr td {
    border:1px solid rgb(214, 214, 214);
}